openapi: 3.1.0
info:
  title: PdfPixels API
  description: |
    Free online image and PDF processing API. Compress, resize, convert, and edit images with professional-grade tools.
    
    ## Features
    - Image compression with quality or target size
    - Image resizing with multiple units (px, cm, inch)
    - Format conversion (JPG, PNG, WebP, AVIF, GIF, TIFF)
    - Image filters and effects
    - Rotation and flip
    - PDF merge, split (per page, range, or by file size), and compression
    - PDF to image and image to PDF conversion (JPG, PNG, WebP, TIFF, HEIC)
    - OCR for scanned PDFs
    - PDF text extraction, embedded image extraction, and text-to-PDF
    - Multi-size favicon (.ico) generation
    
    ## Authentication
    No authentication required. All endpoints are public.
    
    ## Rate Limits
    - 20 requests per minute per processing route per IP (pdf/*, image/*, ai)
    - 100 requests per minute global for other API routes
    - Contact (3/min) and newsletter (5/min) endpoints are stricter
    - Limits verified against production code on 2026-09-29; see https://www.pdfpixels.com/llms-full.txt
    
    ## Support
    Email: support@pdfpixels.com
    Website: https://www.pdfpixels.com
  version: 1.0.0
  contact:
    name: PdfPixels Support
    email: support@pdfpixels.com
    url: https://www.pdfpixels.com
  license:
    name: Free to Use
    url: https://www.pdfpixels.com/#terms

servers:
  - url: https://www.pdfpixels.com/api
    description: Production server

tags:
  - name: Image Processing
    description: Image compression, resizing, conversion, and effects
  - name: PDF Processing
    description: PDF merge, split, compression, and conversion
  - name: Health
    description: API health check

paths:
  /image/process:
    post:
      summary: Process an image
      description: |
        Comprehensive image processing endpoint supporting:
        - Compression (quality-based or target-size-based)
        - Resizing (with aspect ratio lock)
        - Format conversion
        - Rotation and flip
        - Color adjustments (brightness, contrast, saturation)
        - Effects (blur, sharpen, grayscale, sepia)
        - Cropping
      operationId: processImage
      tags:
        - Image Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to process (max 25MB; 50 megapixels max; 20,000 px per side max)
                  example: "image.jpg"
                operation:
                  type: string
                  description: Type of operation to perform
                  enum: [compress, resize, convert, filter, transform]
                  default: process
                quality:
                  type: integer
                  description: Output quality (1-100)
                  minimum: 1
                  maximum: 100
                  default: 85
                  example: 85
                format:
                  type: string
                  description: Output format
                  enum: [jpg, jpeg, png, webp, avif, gif, tiff]
                  default: jpg
                  example: webp
                width:
                  type: integer
                  description: Target width in pixels
                  minimum: 1
                  maximum: 10000
                  example: 800
                height:
                  type: integer
                  description: Target height in pixels
                  minimum: 1
                  maximum: 10000
                  example: 600
                fit:
                  type: string
                  description: How to fit the image when resizing
                  enum: [inside, outside, cover, contain, fill]
                  default: inside
                targetSize:
                  type: integer
                  description: Target file size in KB
                  minimum: 1
                  maximum: 50000
                  example: 100
                rotate:
                  type: integer
                  description: Rotation angle in degrees
                  minimum: -360
                  maximum: 360
                  example: 90
                flip:
                  type: boolean
                  description: Flip image vertically
                  default: false
                flop:
                  type: boolean
                  description: Flip image horizontally
                  default: false
                brightness:
                  type: number
                  description: Brightness adjustment (0.5-2.0, 1.0 = normal)
                  minimum: 0.5
                  maximum: 2.0
                  example: 1.2
                contrast:
                  type: number
                  description: Contrast adjustment (0.5-2.0, 1.0 = normal)
                  minimum: 0.5
                  maximum: 2.0
                  example: 1.1
                saturation:
                  type: number
                  description: Saturation adjustment (0.5-2.0, 1.0 = normal)
                  minimum: 0.5
                  maximum: 2.0
                  example: 1.3
                blur:
                  type: number
                  description: Blur radius (0-20)
                  minimum: 0
                  maximum: 20
                  example: 2
                sharpen:
                  type: number
                  description: Sharpen amount (0-10)
                  minimum: 0
                  maximum: 10
                  example: 1
                grayscale:
                  type: boolean
                  description: Convert to grayscale
                  default: false
                sepia:
                  type: boolean
                  description: Apply sepia effect
                  default: false
                negate:
                  type: boolean
                  description: Invert colors
                  default: false
                cropLeft:
                  type: integer
                  description: Crop left position
                  minimum: 0
                cropTop:
                  type: integer
                  description: Crop top position
                  minimum: 0
                cropWidth:
                  type: integer
                  description: Crop width
                  minimum: 1
                cropHeight:
                  type: integer
                  description: Crop height
                  minimum: 1
                density:
                  type: integer
                  description: DPI density for output
                  minimum: 72
                  maximum: 600
                  example: 300
      responses:
        '200':
          description: Successfully processed image
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  imageUrl:
                    type: string
                    format: uri
                    description: Base64 data URL of processed image
                  originalSize:
                    type: integer
                    description: Original file size in bytes
                    example: 1048576
                  processedSize:
                    type: integer
                    description: Processed file size in bytes
                    example: 524288
                  savedBytes:
                    type: integer
                    description: Bytes saved
                    example: 524288
                  savedPercent:
                    type: integer
                    description: Percentage saved
                    example: 50
                  originalDimensions:
                    type: object
                    properties:
                      width:
                        type: integer
                        example: 1920
                      height:
                        type: integer
                        example: 1080
                  format:
                    type: string
                    example: webp
                  mimeType:
                    type: string
                    example: image/webp
                  quality:
                    type: integer
                    example: 85
        '400':
          description: Bad request - missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error during processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pdf/merge:
    post:
      summary: Merge multiple PDFs
      description: Combine multiple PDF files into a single document
      operationId: mergePdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: PDF files to merge (max 20 files, 50MB per file, 100MB total, 1000 pages total)
                  maxItems: 20
      responses:
        '200':
          description: Merged PDF file (binary download; page count in X-Page-Count header)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - missing or invalid files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pdf/split:
    post:
      summary: Split PDF
      description: Split a PDF into individual pages or extract specific pages
      operationId: splitPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to split (max 50MB). Split-all mode returns a ZIP truncated at 20 pages; range/single extract caps at 50 pages.
                mode:
                  type: string
                  description: "Split mode: 'all' returns one PDF per page (ZIP, truncated at 20 pages), 'range'/'single' extract a selection (max 50 pages), 'size' chunks the document into parts each under maxSizeMb (max 100 parts, 300 pages)."
                  enum: [all, range, single, size]
                  default: all
                pageRange:
                  type: string
                  description: Page range for extraction (e.g., "1-3,5,7-9")
                  example: "1-3,5"
                singlePage:
                  type: integer
                  description: Single page number to extract
                  example: 2
                maxSizeMb:
                  type: number
                  description: Size limit per part for 'size' mode (0.1-25 MB). Response is a ZIP of part-N.pdf files.
                  example: 25
      responses:
        '200':
          description: Split result as a binary download ('range'/'single' return one PDF; 'all'/'size' return a ZIP of part PDFs)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - invalid pages or mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pdf/ocr:
    post:
      summary: OCR a scanned PDF
      description: |
        Recognize text in image-only (scanned) PDFs. Pages are rasterized at high
        resolution and processed with OCR (up to 10 pages per run). PDFs that already
        contain a real text layer are extracted directly instead (usedOcr=false).
      operationId: ocrPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to OCR (max 50MB, first 10 pages per run).
      responses:
        '200':
          description: Recognized text
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                  usedOcr:
                    type: boolean
                    description: False when the PDF already had a text layer and extraction was used.
                  pagesProcessed:
                    type: integer
                  totalPages:
                    type: integer
                  truncated:
                    type: boolean
                  wordCount:
                    type: integer
                  charCount:
                    type: integer
        '422':
          description: No text could be recognized
        '503':
          description: OCR engine temporarily unavailable

  /pdf/extract-images:
    post:
      summary: Extract embedded images from a PDF
      description: |
        Pull the original embedded images out of a PDF at stored quality (JPEG streams
        verbatim; flate bitmaps reconstructed as PNG). Returns a ZIP named image-001.jpg,
        image-002.png, ... Up to 200 images / 80MB per run. Exotic codecs (JPEG2000,
        CCITT, JBIG2) are skipped.
      operationId: extractPdfImages
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to extract images from (max 50MB).
      responses:
        '200':
          description: ZIP archive of extracted images
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '422':
          description: No extractable images found (vector-only pages or unsupported codecs)

  /pdf/from-text:
    post:
      summary: Convert plain text to a paginated PDF
      description: |
        Render plain text into a print-ready PDF with automatic word-wrap and page
        breaks using embedded standard fonts (Times, Helvetica, Courier). Caps:
        400,000 characters, 500 output pages.
      operationId: textToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Text content to render (max 400,000 characters).
                pageSize:
                  type: string
                  enum: [a4, letter, legal]
                  default: a4
                font:
                  type: string
                  enum: [times, helvetica, courier]
                  default: times
                fontSize:
                  type: number
                  description: Text size in points (8-28).
                  default: 11
                fileName:
                  type: string
                  description: Desired download filename (without .pdf).
      responses:
        '200':
          description: Generated PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '413':
          description: Text too long or output exceeds 500 pages

  /image/ico:
    post:
      summary: Convert an image to a multi-size .ico favicon
      description: |
        Convert a PNG, JPG, or WebP image into a true multi-size ICO container
        (16/32/48/64/128/256 px, PNG-compressed entries). Non-square sources are
        padded onto a transparent square. Images up to 25 MB / 50 megapixels.
      operationId: imageToIco
      tags:
        - Image Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Image to convert (PNG, JPG, WebP; max 25MB).
                sizes:
                  type: string
                  description: Comma-separated sizes to include (subset of 16,32,48,64,128,256).
                  example: "16,32,48,64"
      responses:
        '200':
          description: Multi-size ICO file
          content:
            image/x-icon:
              schema:
                type: string
                format: binary
        '422':
          description: Image could not be decoded

  /pdf/compress:
    post:
      summary: Compress PDF
      description: |
        Reduce PDF file size with Ghostscript (images re-encoded, vector text kept
        sharp). Levels: less (high quality), recommended, extreme (smallest).
        Optional targetKb aims at an exact ceiling (e.g. 200 for portal limits);
        pass force=1 to download the best attempt even above target. Success is a
        binary PDF download; before/after sizes arrive in X-Size-Before,
        X-Size-After, and X-Saved-Percent headers. Already-optimized PDFs return
        the original bytes instead of an error.
      operationId: compressPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to compress (max 50MB)
                level:
                  type: string
                  description: Compression profile
                  enum: [less, recommended, extreme]
                  default: recommended
                targetKb:
                  type: integer
                  description: Exact size target in KB (50-10240). Picks the profile automatically.
                  example: 200
                force:
                  type: string
                  description: Set to 1 to download the best attempt even when the target is missed
                  enum: ['0', '1']
                  default: '0'
      responses:
        '200':
          description: Compressed PDF file (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '422':
          description: Output missed the requested targetKb (body includes before/after sizes and canForce flag)

  /pdf/to-image:
    post:
      summary: Convert PDF to images
      description: Convert PDF pages to image files
      operationId: pdfToImage
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to convert (max 50MB; up to 10 pages converted per run)
                format:
                  type: string
                  description: Output image format
                  enum: [jpg, png, webp]
                  default: jpg
                quality:
                  type: integer
                  minimum: 10
                  maximum: 100
                  default: 85
                dpi:
                  type: integer
                  description: Resolution DPI
                  minimum: 72
                  maximum: 300
                  default: 150
      responses:
        '200':
          description: Successfully converted PDF to images
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        pageNumber:
                          type: integer
                        imageUrl:
                          type: string
                          format: uri
                        fileName:
                          type: string

  /pdf/from-image:
    post:
      summary: Create PDF from images
      description: Convert images to a PDF document
      operationId: imageToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Images to convert to PDF (max 30 images, 15MB each, 120MB total)
                  maxItems: 30
                pageSize:
                  type: string
                  description: PDF page size
                  enum: [a4, letter, original]
                  default: a4
      responses:
        '200':
          description: Created PDF file (binary download; up to 30 images per PDF)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - missing or invalid images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pdf/to-word:
    post:
      summary: Convert PDF to editable Word (.docx)
      description: |
        Convert a PDF into an editable Microsoft Word document with structured
        paragraphs and preserved tables/lists. Text-based PDFs convert cleanly;
        scanned PDFs without a text layer should go through /pdf/ocr first.
        Max 50MB per file.
      operationId: pdfToWord
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to convert (max 50MB)
      responses:
        '200':
          description: Editable Word document (binary .docx download)
          content:
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary

  /pdf/to-excel:
    post:
      summary: Extract PDF tables to Excel or CSV
      description: |
        Extract tables, rows, and financial data from invoices and statements
        into .xlsx (default) or .csv. For bank/credit-card statements with
        statement-aware parsing, prefer /pdf/bank-statement-to-excel.
        Max 50MB per file.
      operationId: pdfToExcel
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to convert (max 50MB)
                format:
                  type: string
                  enum: [xlsx, csv]
                  default: xlsx
      responses:
        '200':
          description: Spreadsheet file (binary .xlsx download, or CSV text when format=csv)
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string

  /pdf/to-text:
    post:
      summary: Extract selectable text from a PDF
      description: |
        Extract clean text from a PDF. Returns JSON with text plus page/word
        counts by default, or plain text when format=txt. Max 50MB per file.
      operationId: pdfToText
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to extract text from (max 50MB)
                format:
                  type: string
                  enum: [json, txt]
                  default: json
      responses:
        '200':
          description: Extracted text (JSON object or plain text)
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                  pages:
                    type: integer
                  wordCount:
                    type: integer
            text/plain:
              schema:
                type: string

  /pdf/to-pptx:
    post:
      summary: Convert PDF pages to PowerPoint slides
      description: |
        Convert PDF pages into an editable .pptx deck with one high-resolution
        slide image per page. Capped at 300 pages. Max 50MB per file.
      operationId: pdfToPptx
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to convert (max 50MB, up to 300 pages)
      responses:
        '200':
          description: PowerPoint deck (binary .pptx download)
          content:
            application/vnd.openxmlformats-officedocument.presentationml.presentation:
              schema:
                type: string
                format: binary

  /pdf/from-word:
    post:
      summary: Convert Word (.docx) to PDF
      description: |
        Convert a Microsoft Word document into a print-ready PDF with formatting
        preserved (LibreOffice engine). Office files up to 25MB.
      operationId: wordToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Word document (.docx, .doc; max 25MB)
      responses:
        '200':
          description: Generated PDF (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /pdf/from-excel:
    post:
      summary: Convert Excel spreadsheets to PDF
      description: |
        Convert .xlsx/.xls/.csv spreadsheets into a print-ready PDF with table
        layout preserved. Office files up to 25MB.
      operationId: excelToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Spreadsheet file (.xlsx, .xls, .csv; max 25MB)
      responses:
        '200':
          description: Generated PDF (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /pdf/from-powerpoint:
    post:
      summary: Convert PowerPoint slides to PDF
      description: |
        Convert a .pptx/.ppt presentation into a shareable PDF with slide
        layout preserved. Office files up to 25MB.
      operationId: powerpointToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Presentation file (.pptx, .ppt; max 25MB)
      responses:
        '200':
          description: Generated PDF (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /pdf/from-heic:
    post:
      summary: Convert iPhone HEIC photos to PDF
      description: |
        Build a PDF from Apple HEIC/HEIF photos with page orientation and
        margin control. Max 50MB per request.
      operationId: heicToPdf
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: HEIC/HEIF photo(s) to convert
                orientation:
                  type: string
                  enum: [auto, portrait, landscape]
                  default: auto
                margin:
                  type: number
                  description: Page margin in points
                  default: 20
      responses:
        '200':
          description: Generated PDF (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /pdf/bank-statement-to-excel:
    post:
      summary: Convert bank statements to Excel/CSV
      description: |
        Statement-aware extraction of transactions from bank and credit-card
        statement PDFs into .xlsx (default) or .csv for accounting and
        reconciliation. An optional transactions JSON array overrides
        auto-detection. Max 50MB per file.
      operationId: bankStatementToExcel
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Bank statement PDF (max 50MB)
                format:
                  type: string
                  enum: [xlsx, csv]
                  default: xlsx
                transactions:
                  type: string
                  description: Optional JSON array of transaction rows overriding auto-detection
      responses:
        '200':
          description: Spreadsheet file (binary .xlsx download, or CSV text when format=csv)
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string

  /pdf/to-pdfa:
    post:
      summary: Convert PDF to archival PDF/A
      description: |
        Convert a standard PDF into ISO-compliant PDF/A for long-term archiving
        and compliance. Conformance 1b or 2b (default). Max 50MB per file.
      operationId: pdfToPdfa
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to convert (max 50MB)
                conformance:
                  type: string
                  enum: ['1b', '2b']
                  default: 2b
      responses:
        '200':
          description: PDF/A file (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /pdf/to-cmyk:
    post:
      summary: Convert an RGB PDF to CMYK for print
      description: |
        Convert an RGB PDF into true CMYK color space for professional offset
        printing and prepress compliance. Max 50MB per file.
      operationId: pdfToCmyk
      tags:
        - PDF Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: RGB PDF file to convert (max 50MB)
      responses:
        '200':
          description: CMYK PDF file (binary download)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /image/heic:
    post:
      summary: Convert a HEIC photo to JPEG
      description: |
        Decode an iPhone HEIC/HEIF photo and return a JPEG image (binary).
        Rejects non-HEIC uploads with 400. Max 25MB per file.
      operationId: heicToJpeg
      tags:
        - Image Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: HEIC/HEIF photo (max 25MB)
      responses:
        '200':
          description: Converted JPEG image (binary)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

  /image/ocr:
    post:
      summary: Prepare an image for client-side OCR
      description: |
        Accepts an image (HEIC auto-decoded, 10MB max) plus an OCR language
        code (default eng) and returns a JSON payload with a data-URL image
        for client-side Tesseract.js recognition. The text recognition itself
        runs in the browser.
      operationId: imageOcrPrep
      tags:
        - Image Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: Image to recognize text in (max 10MB; HEIC accepted)
                language:
                  type: string
                  description: Tesseract language code (e.g. eng, spa, fra, deu, hin)
                  default: eng
                  example: eng
      responses:
        '200':
          description: OCR preparation payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  imageUrl:
                    type: string
                    description: Data-URL image for client-side Tesseract.js
                  language:
                    type: string
                  processingMode:
                    type: string
                    example: client

  /ai:
    post:
      summary: AI-enhance an image or blur faces/backgrounds
      description: |
        Server AI pipeline for photo enhancement, background blur, and face
        blur. Modes: balanced (default), high, privacy-max. blur-face additionally
        accepts expectedFaces (mismatch reported as faceCountMismatch) and
        faceStyle (blur or pixelate). Images up to 20MB. Returns JSON with a
        base64 data-URL result.
      operationId: aiEnhanceImage
      tags:
        - Image Processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: Image to process (max 20MB; JPG or PNG recommended)
                tool:
                  type: string
                  description: AI job to run
                  default: enhance-image
                  example: enhance-image
                mode:
                  type: string
                  enum: [balanced, high, privacy-max]
                  default: balanced
                blurStrength:
                  type: integer
                  description: Blur intensity for background/face jobs
                faceStyle:
                  type: string
                  enum: [blur, pixelate]
                  default: blur
                expectedFaces:
                  type: integer
                  description: Expected face count for blur-face verification
      responses:
        '200':
          description: Enhancement result payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  imageUrl:
                    type: string
                    description: Base64 data URL of the processed image
                  tool:
                    type: string
                  engine:
                    type: string
                  mode:
                    type: string
                  outputBytes:
                    type: integer
                  faceCount:
                    type: integer

components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: No image provided
        details:
          type: string
          description: Detailed error information
          example: The request did not contain an image file

externalDocs:
  description: PdfPixels Documentation
  url: https://www.pdfpixels.com/api-docs
